/* Google fonts Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
h2.home-heading {
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}

.heading::after {
  content: "";
  display: inline-block;
  width: 10%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #febf32;
}

/* Utility containers */

/* ----------Global Container---------- */

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 8px;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}
