.homeproduct-heading {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.slick-list {
  margin: 0 -10px;
}

.slick-slide > div {
  padding: 0 10px;
}

.product-card-img {
  width: 100%;
}

.product-carousel {
  margin-top: 60px;
  margin-bottom: 70px;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: unset;
  position: absolute;
  top: unset;
  bottom: -70px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #fff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 50%;
  text-align: center;
}

.slick-prev {
  left: 45%;
  transform: translateX(-50%);
}

.slick-next {
  right: 45%;
  transform: translateX(-50%);
}

.slick-prev:hover,
.slick-next:hover {
  background: black;
}

.slick-prev:before,
.slick-next:before {
  font-size: 25px;
  color: #000;
  line-height: 44px;
}

.product-card-description {
  height: 150px;
  overflow: hidden;
}

.product-card-btn {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  background: #febf32;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  margin-top: 26px;
  cursor: pointer;
  font-weight: 400;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .homeproduct-heading {
    font-size: 35px;
  }
  .product-card-description {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homeproduct-heading {
    font-size: 33px;
  }
  .product-card-description {
    font-size: 14px;
  }
  .slick-prev {
    left: 43%;
  }

  .slick-next {
    right: 43%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .homeproduct-heading {
    font-size: 33px;
  }
  .product-card-description {
    height: 160px;
    font-size: 13.5px;
  }
  .slick-prev {
    left: 41%;
  }

  .slick-next {
    right: 41%;
  }
}

@media only screen and (max-width: 575px) {
  .slick-next {
    right: 30%;
  }
  .slick-prev {
    left: 40%;
  }
  .product-card-description{
    font-size: 15px;
    height: 160px;
  }
  .product-card-btn{
    height: 46px;
    font-size: 15px;
  }
}
