/* utility */
.section {
  margin-block: 2rem 0;
  padding-block: 2rem;
}
.section .secondary-heading {
  margin-block: 0 30px;
}
.full-bg {
  background-color: #eee;
}

/* about hero */
.about-hero {
  height: 60vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images//about-banner.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.about-hero h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 170px;
  height: 40px;
  font-family: poppins;
  background: #febf32;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  margin-top: 40px;
}

.about-description {
  margin-top: 40px;
}
.company-details-section {
  padding-bottom: 20px;
}
/* founder */
.founder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.founder-name {
  font-weight: 600;
  text-transform: capitalize;
}
.founder-photo {
  width: 40%;
}
.founder-details {
  width: 60%;
}
.founder-heading {
  text-align: left !important;
  width: fit-content !important;
}
.founder-heading-line::after {
  width: 50% !important;
}
.founder-photo img {
  border-radius: 10px;
  width: 100%;
}

/* our vision */
.our-vision {
  margin-block: 0;
}

.vision {
  margin-top: 40px;
}
.our-vision-section {
  padding-bottom: 10px;
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
  .about-hero h2 {
    font-size: 2.4rem;
  }
  .about-us-tagline {
    font-size: 15px;
  }
  .contact-btn {
    width: 150px;
    height: 46px;
    font-size: 15px;
    margin-top: 20px;
  }
  .about-description {
    font-size: 15px;
  }
  .company-details {
    font-size: 15px;
  }
  .founder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .founder-photo {
    width: 60%;
  }
  .founder-details {
    width: 100%;
  }
  .founder-content-desc {
    font-size: 15px;
  }
  .vision {
    font-size: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .section {
    padding-block: 1rem;
  }
  .section .secondary-heading {
    margin-block: 0 20px;
  }
  .section-p {
    margin-block: 20px;
  }
  .about-hero h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .about-us-tagline {
    font-size: 14px;
    max-width: 300px;
    text-align: center;
  }
  .contact-btn {
    width: 150px;
    height: 46px;
    font-size: 14px;
    margin-top: 20px;
  }
  .about-description {
    font-size: 15px;
  }
  .company-details {
    font-size: 15px;
  }
  .founder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  .founder-photo {
    width: 100%;
  }
  .founder-details {
    width: 100%;
  }
  .founder-content-desc {
    font-size: 15px;
  }
  .vision {
    font-size: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) and (orientation: landscape) {
  .about-hero {
    height: 100vh;
  }
}
