/* resets */
.footer a{
    color:#d3d3d3;
    text-decoration: none;
}

.footer{
    min-height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    color:#d3d3d3;
    padding-block: 2rem;
}
.footer .nav-links{
    justify-content: start;
}
.newsletter-form input, .newsletter-form button{
    background-color: #fff;
    padding-inline:15px;
    border:1px solid #d3d3d3;
}
.newsletter-form input{
    border-radius: 4px 0 0 4px;
    padding-block: 8px;
}
.newsletter-form button{
    border-radius: 0 4px 4px 0 ;
    padding-block: 5px 8px;
    font-size: 15px;
}
.footer>div{
    height: inherit;
    padding-inline:20px;
    width:20%;
}
.footer-links,.footer-products,.footer-newsletter{
    border-left: 2px solid rgb(104, 104, 104);
}