.footer-wrapper {
  background-color: #333;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #d3d3d3;
  padding-top: 2rem;
}
.footer-logo .brand-logo{
  width: 100px;
  display: block;
}
.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .nav-links {
  margin-block: 10px;
  color: #d3d3d3;
  text-decoration: none;
}
.footer-links{
  width: 40%;
}
.copyright{
  color: #d3d3d3;
  padding-bottom: 2rem;
  text-align: left;
}