.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homecontact-body{
    margin-block: 2rem 4rem;
}
.homecontact-body>tr>td{
    padding-inline: 1.8rem;
    vertical-align: top;
}
.contact-form{
    width: 70%;
}
.contact-info{
    color:white;
    background-color: #febf32;
    width: 30%;
}
.homecontact-body>tr>td>h3{
    font-weight: 600;
    font-size: 24px;
}
/* contact info start */
.contact-info>p{
    margin-bottom: 0;
}
.icons{
    padding:6px;
    font-size: 1.3rem;
    border:1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.contact-links{
    border-spacing: 0px 20px;
}
.contact-links>tr>td{
    vertical-align: top;
}
.contact-links>tr>td>b{
    font-weight: 600;
}
/* contact info ends */

/* contact form start */

form input, form textarea{
    display: block;
    width: 100%;
    font-family: inherit;
    margin-bottom: 20px;
    padding-block: 6px;
    border:none;
    border-bottom:2px solid #ddd;
    outline:none !important;
}
form label{
    margin-bottom: 10px;
    text-transform: uppercase;
} 

form input[type=submit] {
    width: 170px;
    height: 40px;
    font-family: poppins;
    background: #febf32;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
    border: 0;
    border-radius: 3px;
    color: #fff;
    margin-top: 40px;
}

form .name-email{
    display: flex;
    justify-content: space-between;
}
form .name,form .email{
    width: 45%;
}
/* contact form ends */