.homeservices{
      /* border:1px solid red; */
      margin-top:30px;
      width:90%;
      margin:30px auto;
      display:flex;
      text-align:center;
       flex-direction :column;
    align-items:center;
}
.homeservice-heading{
    font-size:36px;
    font-weight:600;
    text-align:center;
    position:relative;
    margin-bottom:15px;

}
.homeservice-heading .heading::after{
      content:"";
      position:absolute;
      bottom:20px;
      width:120px;
      heighgt:4px;
       background-color:#FFBF00;
}
.homeservice-description{
   text-align:center;
   max-width:80%;
   font-size:17px;
   /* margin:0px; */
}
.card-warper{
     width:100%;
     /* border:1px solid red; */
     display:flex;
    
}
.card{
    /* width:30%; */
    border-radius:10px 10px;
    overflow:hidden;
    height:auto;
    margin:20px;
    box-shadow:0px 0px 4px 1px rgba(0,0,0,0.5);
    padding:36px 30px;
    font-weight:600;
    transition:all 0.3s;
    /* border:1px solid red */
}
.card h2{
    font-weight:600;
    margin:0px;
     color:#303535;
     line-height:35px;
     margin-bottom:10px;
}
/* line-height:17px; */
.card p{
    font-size:15px;
    font-weight:500;
    margin:0px;
    color:#505050;
     /* color:#303030; */
}
.card:hover{
    transform:scale(1.06);
} 