.homeproduct-heading {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.prod-carousel-img {
  width: 100%;
}

.prod-card-title {
  font-weight: 600;
  margin: 12px 0;
}

.product-card {
  margin: 0 10px;
}

.product-card:nth-child(2) {
  border: 2px solid red;
}

.alice-carousel__stage .alice-carousel__stage-item:first-child {
  border: 4px solid blue;
}

.homeproduct-carousel .alice-carousel__dots {
  display: none;
}

.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 40px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  margin-top: 30px;
}
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .home-product-heading {
    font-size: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-product-heading {
    font-size: 33px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container.home-product-heading.special {
    font-size: 30px;
  }
}

@media only screen and (max-width: 575px) {
}
