.home-about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.home-about-left-col,
.home-about-right-col {
  width: 45%;
}

.home-about-img {
  display: block;
  width: 100%;
}

.home-about-heading {
  font-size: 17px;
  font-weight: 500;
  color: silver;
  margin: 5px 0;
}

.home-about-second-heading {
  margin: 1px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
}

.side-border {
  padding-left: 16px;
  border-left: 6px solid #febf32;
}

.home-about-description {
  font-size: 15px;
  margin-top: 30px;
}

.hero-about-btn {
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
  background: #febf32;
  font-size: 14px;
  font-weight: 500;
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  margin-top: 26px;
  cursor: pointer;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .home-about-second-heading {
    font-size: 30px;
    line-height: 38px;
  }
  .home-about-description {
    font-size: 14px;
    margin-top: 24px;
  }
  .hero-about-btn {
    width: 160px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-about-second-heading {
    font-size: 24px;
    line-height: 30px;
  }
  .home-about-description {
    font-size: 13px;
    margin-top: 20px;
  }
  .hero-about-btn {
    width: 160px;
    height: 40px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .home-about-wrapper {
    flex-direction: column;
  }
  .home-about-left-col,
  .home-about-right-col {
    width: unset;
  }
  .home-about-img {
    margin-top: 50px;
  }
  .home-about-second-heading {
    font-size: 24px;
    line-height: 30px;
  }
  .home-about-description {
    font-size: 13.5px;
    margin-top: 20px;
  }
  .hero-about-btn {
    width: 160px;
    height: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .home-about-wrapper{
    flex-direction: column;
  }
  .home-about-left-col, .home-about-right-col {
    width: 100%;
  }
  .home-about-right-col{
    display: none;
  }
}
