.homeservices {
  margin-top: 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.homeservice-heading {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
.homeservice-heading .heading::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 120px;
  height: 4px;
  background-color: #ffbf00;
}
.homeservice-description {
  text-align: center;
  max-width: 80%;
  font-size: 17px;
}
.card-warper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.card {
  border-radius: 10px 10px;
  overflow: hidden;
  height: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px 30px;
  font-weight: 600;
  transition: all 0.3s;
}
.card h2 {
  font-weight: 600;
  margin: 0px;
  color: #303535;
  line-height: 35px;
  margin-bottom: 10px;
}
.card p {
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
  color: #505050;
}
.card:hover {
  transform: scale(1.06);
}

.whychooseimg {
  width: 70px;
  margin-bottom: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .homeservices {
    margin-top: 90px;
  }
  .homeservice-heading {
    font-size: 35px;
  }
  .card h2 {
    font-size: 18px;
  }
  .card p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homeservices {
    margin-top: 90px;
  }
  .homeservice-heading {
    font-size: 33px;
  }
  .card {
    max-width: 400px;
  }
  .card h2 {
    font-size: 18px;
  }
  .card p {
    font-size: 14px;
  }
  .card-warper{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .homeservices {
    margin-top: 90px;
  }
  .homeservice-heading {
    font-size: 35px;
  }
  .card h2 {
    font-size: 18px;
  }
  .card{
    max-width: 400px;
  }
  .card p {
    font-size: 14px;
  }
  .card-warper{
    flex-direction: column;
    align-items: center;
  }
}


@media only screen and (max-width: 575px) {
  .card-warper{
    flex-direction: column;
  }
}