.navbar {
  width: 100%;
  height: 70px;
  background: rgba(34, 39, 41, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1222;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  width: 100px;
  margin-left: 30px;
}

.menu-icon {
  display: block;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 30px;
}

.nav-links {
  list-style: none;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-route {
  color: #fff;
  text-decoration: none;
}

.hide-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 40px;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

.navlinks-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.tel-btn {
  width: 130px;
  height: 40px;
  background: #febf32;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  border: 0;
  border-radius: 6px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.call-icon {
  display: inline-block;
  font-size: 17px;
}

.submenu-parent,
.second-parent-link {
  position: relative;
}

.submenu-wrapper,
.second-dropdown {
  width: 200px;
  height: auto;
  padding: 16px;
  background-color: #fff;
  text-decoration: none;
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: 10px;
  box-shadow: rgba(34, 39, 41, 0.6);
  z-index: 2;
  display: none;
  transform: translateY(60px);
}

.dropdown-wrapper {
  list-style: none;
}

.submenu-link {
  display: block;
  font-size: 14px;
  color: #000;
  padding: 12px;
  text-decoration: none;
  transition: 0.2s ease;
}

.submenu-link:hover {
  color: #fff;
  background: #febf32;
  border-radius: 6px;
}

.submenu-parent:hover .submenu-wrapper {
  animation-name: display;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  display: block;
  transform: translateY(0px);
}

.second-dropdown-nav-link:hover .second-dropdown {
  display: block;
  background: red;
}

@keyframes display {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0px);
  }
}

.dropdown-2-wrapper {
  position: relative;
}

.dropdown-2 {
  width: 250px;
  height: 300px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: rgba(34, 39, 41, 0.6);
  z-index: 2;
  display: none;
  transform: translateY(60px);
  position: absolute;
  top: 30px;
  left: 0;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.nav-item {
  list-style: none;
  text-decoration: none;
}

.dropdown-2-wrapper:hover .dropdown-2 {
  animation-name: display;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  display: block;
  transform: translateY(0px);
}

.nav-item-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease;
  color: #000;
  padding: 12px;
}

.nav-item-link:hover {
  background: #febf32;
  color: #fff;
  border-radius: 6px;
}
