.layer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
    z-index: 10000;
}
.layer-box{
    width: 600px;
    height: 400px;
    background: #fff;
}

.close{
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 10px 10px 0 auto;
}

.form-data-sent{
    text-align: center;
}

.tick-right{
    display: block;
    margin: 20px auto 20px auto;
}

.form-data-sent{
    font-size: 30px;
    font-weight: 500;
}