.prod-heading-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  flex-direction: column;
}

.prod-heading {
  font-size: 50px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.prod-tagline {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: #fff;
}

.prod-info-title {
  margin-top: 80px;
}

.prod-desc {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
}

.prod-desc-left {
  width: 40%;
}

.prod-desc-right {
  width: 60%;
}

.prod-desc-img {
  width: 100%;
}

.prod-info-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.prod-features,
.applications {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.prod-list li {
  font-size: 16px;
  font-weight: 400;
}
.prod-list {
  margin-bottom: 2rem;
}
.technical-data-table{
  width: 100%;
  margin-block: 2rem;
}
.technical-data-table>
.technical-data-head>
.technical-data-row>
.technical-data-content:first-child{
  font-weight: 600;
}
.technical-data-table>
.technical-data-head>
.technical-data-row>
.technical-data-content{
  text-align: left;
  padding-left: 3px;
}
.technical-data-table,
.technical-data-row,
.technical-data-content,
.technical-data-content-2{
  border: 2px solid #000;
  text-align: center;
  border-collapse: collapse;
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .prod-desc-left {
    width: 100%;
  }
  .prod-desc-right {
    width: 100%;
  }
  .prod-desc {
    flex-direction: column;
  }
  .prod-info-title {
    font-size: 22px;
  }
  .prod-features {
    font-size: 22px;
  }
  .prod-info {
    font-size: 15px;
  }
  .prod-list li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .prod-heading {
    font-size: 28px;
    max-width: 300px;
    text-align: center;
  }
  .prod-desc-left {
    width: 100%;
  }
  .prod-desc-right {
    width: 100%;
  }
  .prod-desc {
    flex-direction: column;
  }
  .prod-info-title {
    font-size: 22px;
  }
  .prod-features {
    font-size: 22px;
  }
  .prod-info {
    font-size: 15px;
  }
  .prod-list li {
    font-size: 15px;
  }
  .prod-tagline{
    font-size: 15px;
    max-width: 300px;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 991px) and (orientation: landscape){
  .prod-heading-wrapper {
    height: 100vh;
  }
} 