.prod-heading-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  flex-direction: column;
}

.prod-heading {
  font-size: 50px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.prod-tagline {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: #fff;
}

.prod-info-title {
  margin-top: 80px;
}

.prod-desc {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 80px;
}

.prod-desc-left {
  width: 40%;
}

.prod-desc-right {
  width: 60%;
}

.prod-desc-img {
  width: 100%;
}

.prod-info-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.prod-features,
.applications {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.prod-list li {
  font-size: 16px;
  font-weight: 400;
}
